@import url("../main.css");

header {
	display: flex;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;

	width: calc(100% - 1rem);
	height: 2rem;

	background: rgba(17,17,25,0.9);

	padding: 0.5rem;

	z-index: 2;
}

@supports (-webkit-backdrop-filter: blur(1rem)) or (backdrop-filter: blur(1rem)) {
	header {
		background: rgba(17,17,25,0.2);
		-webkit-backdrop-filter: blur(1rem);
		backdrop-filter: blur(1rem);
	}
}

header title {
	display: block;

	font-weight: bold;
	font-weight: 600;
}

header id {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;

	display: block;

	position: fixed;
	top: 0.1rem;
	left: 0.1rem;

	color: #AAA;
	font-family: "Fira Code", monospace;
	font-size: 0.6rem;

	opacity: 0.25;

	cursor: text;
}

header ping {
	display: block;

	position: fixed;
	top: 0.1rem;
	right: 0.1rem;

	color: #AAA;
	font-family: "Fira Code", monospace;
	font-size: 0.6rem;

	opacity: 0.25;
}

main {
	text-align: center;
	
	margin-top: 3rem;
}



main[status="loading"] {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;

	background: inherit;

	margin-top: 0;

	overflow-y: scroll;

	z-index: 3;
}



main[status="fatal-error"] {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	position: fixed;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;

	background: inherit;

	margin-top: 0;

	overflow-y: scroll;

	z-index: 5;
}

main[status="fatal-error"] code {
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;

	display: block;

	color: #AAA;
	font-family: "Fira Code", monospace;
	font-size: 0.9rem;

	padding: 0.2rem;
	
	cursor: text;

	transition: color 0.2s linear;
}

main[status="fatal-error"] code:hover {
	color: #FFF;
}

main[status="fatal-error"] code::selection {
	background: rgba(255,255,255,0.1);
	color: #FFF;
}

main[status="fatal-error"] button#reload {
	background: transparent;

	color: #08F;
	font-size: 1.1rem;

	border: 0.2rem solid #08F;
	border-radius: 2rem;

	margin: 0.5rem;
	padding: 0.5rem 1rem;

	transition: background-color 0.2s linear, color 0.2s linear, transform 0.2s ease;
}

main[status="fatal-error"] button#reload:hover {
	background: #08F;

	color: #FFF;

	transform: scale(1.1);
}



main[status="home"] input {
	display: block;

	position: relative;

	width: calc(100% - 1rem);

	background: none;

	color: #AAA;
	font-size: 1.1rem;
	font-weight: bold;
	font-weight: 600;
	text-align: center;

	border: none;

	padding: 0.5rem;

	cursor: text;

	transition: color 0.2s linear;

	z-index: 1;
}

main[status="home"] input:hover,
main[status="home"] input:focus {
	color: #FFF;
}

main[status="home"] input#username {
	font-size: 2rem;
}

main[status="home"] icon#editUsername {
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 3rem;
	right: 0.3rem;

	width: 2rem;
	height: 2rem;

	background: rgba(255,255,255,0.15);

	color: #CCC;
	font-size: 1rem;

	border-radius: 1rem;

	z-index: 0;
}

main[status="home"] section#room list {
	display: grid;
	grid-auto-rows: 2.5rem;
	grid-template-columns: max-content;
	gap: 0.1rem;

	width: fit-content;
	
	margin: auto;
	margin-top: 0.4rem;
}

main[status="home"] section#room list room {
	display: grid;
	grid-template-rows: 2rem;
	grid-template-columns: max-content max-content;
	gap: 0.5rem;

	background: rgba(255,255,255,0.05);
	
	border: none;
	
	padding: 0.25rem 0.5rem;
	
	cursor: pointer;
}

main[status=home] section#room list room:first-child {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
}

main[status=home] section#room list room:last-child {
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

main[status="home"] section#room list room id {
	grid-column: 1;
	grid-row: 1;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

main[status="home"] section#room list room count {
	grid-column: 2;
	grid-row: 1;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	opacity: 0.5;
}

main[status="home"] section#room list.empty {
	display: flex;
	justify-content: center;
	align-items: center;
}

main[status="home"] section#room list.empty special {
	display: block;

	width: 100%;
	height: 5rem;

	font-style: italic;

	opacity: 0.5;
}



main[status="room"] {
	display: grid;
	gap: 1rem;

	width: 100%;
	max-width: 60rem;

	margin: auto;
	margin-top: 3rem;
}

main[status="room"] id {
	grid-column: 1 / 3;
	grid-row: 1;

	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;

	display: block;

	width: 100%;

	color: #AAA;
	font-family: "Fira Code", monospace;
	font-size: 1.5rem;
	font-weight: bold;
	font-weight: 600;
	
	padding: 0.2rem;

	cursor: text;

	transition: color 0.2s linear;
}

main[status="room"] id:hover,
main[status="room"] id::selection {
	color: #FFF;
}

main[status="room"] icon {
	display: flex;

	width: 1.5rem;
	height: 1rem;

	font-size: 1rem;
}

main[status="room"] list,
main[status="room"] chat {
	width: 30rem;
	max-width: calc(100% - 2.6rem);
}

main[status="room"] list {
	grid-column: 1 / 3;
	grid-row: 2;

	display: grid;
	grid-auto-rows: 2.5rem;

	margin: 0 auto;
}

main[status="room"] list user {
	display: grid;
	grid-template-columns: 1.5rem calc(100% - 8.5rem) 3rem 4rem;
	grid-template-rows: 2.5rem;
	align-items: center;
	
	width: 100%;
}

main[status="room"] list user icon {
	grid-column: 1;
	grid-row: 1;
}

main[status="room"] list user name {
	grid-column: 2;
	grid-row: 1;

	width: 100%;

	text-align: left;
	text-overflow: ellipsis;
}

main[status="room"] list user button.kick {
	grid-column: 3;
	grid-row: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	background: transparent;

	color: #F00;

	border: 0.1rem solid #F00;
	border-radius: 0.4rem;

	width: 100%;
	height: 100%;

	padding: 0;

	transition: none;
}

main[status="room"] list user button.kick:hover {
	background: #F00;

	color: #FFF;
}

main[status="room"] list user ping {
	grid-column: 4;
	grid-row: 1;
}

main[status="room"] chat {
	grid-column: 1 / 3;
	grid-row: 3;

	display: grid;
	grid-template-rows: 15rem 2rem;
	gap: 0.3rem;

	border: 0.1rem solid rgba(255,255,255,0.15);
	border-radius: 0.6rem;

	margin: 0 auto;
}

main[status="room"] chat messages {
	grid-column: 1;
	grid-row: 1;

	display: grid;
	align-items: end;
}

main[status="room"] chat messages container {
	grid-column: 1;
	grid-row: 1;

	display: grid;
	grid-auto-flow: row dense;
	align-items: end;

	width: 100%;
	height: fit-content;

	overflow-y: scroll;
}

main[status="room"] chat messages container message {
	display: grid;

	padding: 0.2rem;
}

main[status="room"] chat messages container message content {
	overflow: visible;
}

main[status="room"] chat messages container message[type="system"] {
	color: #AAA;
	font-style: italic;
}

main[status="room"] chat messages container message[type="system"][mode="join"] {
	color: #8C8;
}

main[status="room"] chat messages container message[type="system"][mode="leave"] {
	color: #C88;
}

main[status="room"] chat messages container message[type="self"] {
	justify-self: right;

	max-width: 80%;

	color: #08F;
	text-align: right;
}

main[status="room"] chat messages container message[type="user"] {
	grid-auto-flow: column dense;
	justify-items: left;
	justify-self: left;

	text-align: left;
}

main[status="room"] chat messages container message[type="user"][mode="default"] author {
	color: #888;
}

main[status="room"] chat messages container message[type="user"][mode="owner"] author {
	color: #CC8;
	
	display: flex;
	align-items: center;
}

main[status="room"] chat input {
	grid-column: 1;
	grid-row: 2;

	background: none;

	color: #AAA;

	border: none;
	border-top: 0.1rem solid rgba(255,255,255,0.15);

	padding: 0.5rem;

	transition: color 0.2s linear;
}

main[status="room"] chat input:hover,
main[status="room"] chat input:focus {
	color: #FFF;
}

main[status="room"] options {
	grid-column: 1 / 3;
	grid-row: 4;
}

@media (min-width: 60rem) {
	main[status="room"] list {
		grid-column: 1;
	}

	main[status="room"] chat {
		grid-column: 2;
		grid-row: 2;
	}

	main[status="room"] options {
		grid-row: 3;
	}
}